alumnos.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.com/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soap.com/gen" targetNamespace="http://www.soap.com/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soap.com/gen">

    <xs:complexType name="alumno">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="edad" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="postAgregarAlumnoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="postAgregarAlumnoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMostrarAlumnosRequest">
        <xs:complexType>
            <xs:sequence>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMostrarAlumnosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="alumnos" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBuscarAlumnoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBuscarAlumnoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAlumnoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteAlumnoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateAlumnoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateAlumnoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alumno" type="tns:alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="postAgregarAlumnoRequest">
    <wsdl:part element="tns:postAgregarAlumnoRequest" name="postAgregarAlumnoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAlumnoRequest">
    <wsdl:part element="tns:updateAlumnoRequest" name="updateAlumnoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postAgregarAlumnoResponse">
    <wsdl:part element="tns:postAgregarAlumnoResponse" name="postAgregarAlumnoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlumnoRequest">
    <wsdl:part element="tns:deleteAlumnoRequest" name="deleteAlumnoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMostrarAlumnosRequest">
    <wsdl:part element="tns:getMostrarAlumnosRequest" name="getMostrarAlumnosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBuscarAlumnoRequest">
    <wsdl:part element="tns:getBuscarAlumnoRequest" name="getBuscarAlumnoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAlumnoResponse">
    <wsdl:part element="tns:updateAlumnoResponse" name="updateAlumnoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBuscarAlumnoResponse">
    <wsdl:part element="tns:getBuscarAlumnoResponse" name="getBuscarAlumnoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlumnoResponse">
    <wsdl:part element="tns:deleteAlumnoResponse" name="deleteAlumnoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMostrarAlumnosResponse">
    <wsdl:part element="tns:getMostrarAlumnosResponse" name="getMostrarAlumnosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AlumnoPort">
    <wsdl:operation name="postAgregarAlumno">
      <wsdl:input message="tns:postAgregarAlumnoRequest" name="postAgregarAlumnoRequest">
    </wsdl:input>
      <wsdl:output message="tns:postAgregarAlumnoResponse" name="postAgregarAlumnoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAlumno">
      <wsdl:input message="tns:updateAlumnoRequest" name="updateAlumnoRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateAlumnoResponse" name="updateAlumnoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlumno">
      <wsdl:input message="tns:deleteAlumnoRequest" name="deleteAlumnoRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteAlumnoResponse" name="deleteAlumnoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostrarAlumnos">
      <wsdl:input message="tns:getMostrarAlumnosRequest" name="getMostrarAlumnosRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMostrarAlumnosResponse" name="getMostrarAlumnosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBuscarAlumno">
      <wsdl:input message="tns:getBuscarAlumnoRequest" name="getBuscarAlumnoRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBuscarAlumnoResponse" name="getBuscarAlumnoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlumnoPortSoap11" type="tns:AlumnoPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="postAgregarAlumno">
      <soap:operation soapAction=""/>
      <wsdl:input name="postAgregarAlumnoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postAgregarAlumnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAlumno">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateAlumnoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateAlumnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlumno">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteAlumnoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAlumnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostrarAlumnos">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMostrarAlumnosRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMostrarAlumnosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBuscarAlumno">
      <soap:operation soapAction=""/>
      <wsdl:input name="getBuscarAlumnoRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBuscarAlumnoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnoPortService">
    <wsdl:port binding="tns:AlumnoPortSoap11" name="AlumnoPortSoap11">
      <soap:address location="http://localhost:8090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>